<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
	<style>
		.success {
            background-color: transparent;
            padding: 10px;
            font-weight: bold;
        }
		.error {
            background-color: red;
            color: white;
            padding: 10px;
        }
	</style>
</head>
<body>
	<h1>Login page</h1>

	<th:block th:if="${error}">
		<div class="error" th:utext="${error}">&nbsp;</div>
	</th:block>
	<br />

	<form name='login' th:action="@{/login}" method='POST'>
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<table>
			<tr>
				<td>UserName:</td>
				<td><input type='text' name='username' value=''></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type='password' name='password' /></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td><input name="submit" type="submit" value="Login" /></td>
				<td>
					<a th:href="@{/register}"><button type="button" name="reg">Register</button></a>
				</td>
				<td>
					<a th:href="@{/viewdata}"><button type="button" name="vdata">View data</button></a>
				</td>
			</tr>
		</table>
		
	</form>
</body>
</html>