<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>View data</title>
</head>
<body>
<h1>View data page</h1>

<br />

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${listusers}">
            <td th:text="${user[1]}">USERNAME</td>
            <td th:text="${user[2]}">AGE</td>
        </tr>
    </tbody>
</table>
<br />
<div>
    <a th:href="@{/login}"><button type="button" name="log">Back to login</button></a>
</div>
</body>
</html>